body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* var  */
:root {
    --h1-color: #fff;
    --pcolor: gray;
    --button-color: #EF233C;
}

/* var */

/* header */

.hero {
    background-image: url(image/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    overflow: hidden;




}

.herotext h1 {
    margin: 0;
    color: var(--h1-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;


}

.herotext>p {
    color: var(--pcolor);
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

}

.button {
    text-decoration: none;
    background: var(--button-color);
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;


}

.hero-sub {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right,
            rgba(0, 0, 1, 1),
            rgba(0, 0, 0, .4),
            rgba(0, 0, 0, .1),
            rgba(0, 0, 0, 0));
    padding: 120px;

}


/* header ends */
/* article video starts */

.video {
    padding: 120px;
    display: flex;
    height: auto;
}

.atext {
    width: 56%;
}

.avideo {

    background-image: url(image/video.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 44%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



#icon {
    font-size: 50px;
    color: whitesmoke;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 50%;
    box-shadow: 3px 3px 50px 10px var(--button-color) !important;
}

.their {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.atextp {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
    color: var(--pcolor);
}

.salat {
    padding: 120px;
    padding-top: 0;
    display: flex;
    height: auto;

}

.praying {
    background-image: url(image/salat.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

    width: 56%;
    height: 300px;
}

.salattext {
    width: 44%;
    height: auto;
}


/* article video ends */



/* footer starts */
footer {
    background: #000;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.lobster {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-family: 'Lobster';
    font-style: normal;
    letter-spacing: 0.5px;

    color: var(--button-color);


    font-size: 36px;
    line-height: 44px;
}

footer p {
    color: var(--pcolor);
    padding-bottom: 10px;
}

/* footer ends */